body,html{
	font-family: Avenir;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300 !important;
		background: url("../img/CU_background2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#pref_title{
	color:red;
	position: fixed;
	font-weight: 300;
	text-align: center;
	width: 100%;
	top:0;
	left: 0;
	right: 0;
/*	background: #fff;*/
	color: white;
}





#favs{
	/*background: blue;*/
	/*position:fixed;*/
	position:absolute;
	width:20vw;
	left:10vw;
	top:10vh;
	text-align: center;
}

#fav_title h2{
	position:fixed;
	font-weight: 300 !important;
	text-transform: capitalize;

}





#groups{
	position:absolute;
	width:20vw;
	height:100vw;
	right:5vw;
	top:10vh;
	text-align: center;
}

#group_title h2{
	position:fixed;
		font-weight: 300 !important;
	text-transform: capitalize;
}






#crown{
position:fixed;
top:0px;
right:0px;
height:100px;
width:100px;
}


.option_list{
	position: relative;
}