body,html{
	font-family: Avenir;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300 !important;
		background: url("../img/CU_background2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#pref_title{
	color:red;
	position: fixed;
	font-weight: 300;
	text-align: center;
	width: 100%;
	top:0;
	left: 0;
	right: 0;
/*	background: #fff;*/
	color: white;
}


/*This is the div for the favs block*/
#favs{
	/*background: blue;*/
	/*position:fixed;*/
	position:fixed;
	width:30vw;
	left:10vw;
	top:10vh;
	text-align: center;
}

#fav_title{
	position:fixed;
	left:inherit;
	width:inherit;
	background-color: red;
	font-weight: 300 !important;
	text-transform: capitalize;
	background-color: #113eb3;

}


#list_food{
	position: inherit;
	left:10px
	top:10px;
	color:white;
}



/*This is the div for the groups block*/
#groups{
	background-color: blue;
	position:absolute;
	width:20vw;
	height:100vw;
	right:5vw;
	top:10vh;
	text-align: center;
}

#group_title h2{
	position:fixed;

	font-weight: 300 !important;
	text-transform: capitalize;
}

#scroller{
	
	position: fixed;
	left:10px;
	width:50%;
	background-color: red;
}

#submit_div{
	color:red;
	position: fixed;
	font-weight: 300;

	top:60%;
	width: 100%;
	height:5%;
	background-color: transparent;
	text-align: center;
}

#submit_button{
	position:absolute;
	
	width:20%;
	height:100%;
}




#crown{
position:fixed;
top:0px;
right:0px;
height:100px;
width:100px;
}


.favorites_list{
	position: relative;
	color:white;
	text-align: right;

}











