
<!DOCTYPE html>

<html lang="en">

	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/preferencePg_styling.css">

		<meta charset="utf-8">
		<title>Smells Gud</title>


		<link rel="icon" type="image/jpg" href="../static/img/ColumbiaDining.jpg" sizes="32x32">

	</head>

	<body>

		<!--Favorites sub-section-->

		<div id="favs" style="overflow-y: scroll; height:400px;">
			<div id="fav_title">
				<h2>FAVORITES</h2>
			</div>

			<!--Wrap everything here in a list of class option_list-->
<!--			<li class="favorites_list">-->

				<!--Using a form to collect all clicked checkboxes-->
				<form action="/get_checkboxes" method="get">
					
					<!--HTML loop through food entries-->
					{% for entry in entries %}
						<div id="list_food">
							<strong >Food:</strong> {{ entry.food }} <input type="checkbox" value ="nonsense"/><br>
						</div>
						
						<div id="list_attribs">
							<strong>attributes:</strong> {{ entry.attributes }}<br>
							<nl>
						</div>
					{% endfor %}  
			<!--</li>  -->

		</div>




		<!--Group sub-section-->

		<div id="pref_title">
			<h1>PREFERENCES</h1>
		</div>




		<div id="groups">
			<div id="group_title">
				<h2>GROUPS</h2>
			</div>

			<form action="{{ url_for('add_grouping') }}" method="post">
				<p>Vegetarian<input type="checkbox" name="Vegetarian" value="Vegetarian"></p>
				<br>

				<p>Vegan<input type="checkbox" name="Vegan" value="Vegan"></p>
				<br>


				<p>Gluten-free<input type="checkbox" name="Gluten-free" value="Gluten-free"></p>
				<br>

				<p>Locally Grown<input type="checkbox" name="Local" value="Local"></p>
				<br>

			</form>

			<li class="option_list">
				<ul>hi1 <input type="checkbox" /></ul>
				<ul>hi2 <input type="checkbox" /></ul>
				<ul>hi3 <input type="checkbox" /></ul>
				<ul>hi4 <input type="checkbox" /></ul>
				<ul>hi5 <input type="checkbox" /></ul>
				<ul>hi6 <input type="checkbox" /></ul>
				<ul>hi7 <input type="checkbox" /></ul>
				<ul>hi8 <input type="checkbox" /></ul>
				<ul>hi9 <input type="checkbox" /></ul>
			</li>

		</div>

		<div id="submit_div">
			<button id="submit_button" type="button" onclick="alert('hello world!')">click me</button>
		</div>
<!-- 		<div id="save_preferences">
			<input type="button" name="save_prefs" value="Save yo preferences"/>
		</div> -->


			<!--
			<h1><center>SMELLS<font size=70px>GUD</font></center></h1>
	-->

		
		<!--Hop back a directory, and then foward to disolay clown image-->
		<img src = "../static/img/ColumbiaDining.jpg" id = "crown">


		<!--Link jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!--<script src="/js/index.js"></script>-->
	</form>
		<!-- <a href="https://github.com/samlouiscohen"><center>Check out my github!</center></a> -->

	</body>

</html>