{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_User') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=username name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dt> email:
      <dd><input type=email name=email>
      <dt>Preferences:
      <dd><input type=preferences name=preferences>
      <dd><input type=submit value=Register>

    </dl>
  </form>
{% endblock %}